@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --tomato: #FF5959;
}

* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;

}

/*==========================
    Header Section 
 ===========================*/
.banner {
    position: relative;
    background-image: url('./images/banner.png');
    min-height: 669px;
    background-size: cover;
    text-align: center;

}

.banner-info,
.donate-section,
.update {
    width: 55%;
    margin: auto;
    padding-top: 174px;
}

.banner-title {
    color: white;
    font-size: 65px;
    line-height: 79px;
    margin-bottom: 20px;
}

.banner-description,
.donate-section-description {
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-bottom: 30px;
}

.donate-now-btn {
    background-color: var(--tomato);
    font-weight: 600;
    font-size: 20px;
    color: white;
    height: 56px;
    padding: 16px 20px;
    border-radius: 5px;

    border: none;
}

.dg-dark {
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*======================
    Donate Section 
 =======================*/
.donate-section {
    padding-top: 130px;
    text-align: center;
}

.donate-section-description {
    color: #707070;
}

.donate-amount-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 22px;
}

.donate-amount {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 43px 24px;
}

.donate-amount:hover {
    border: 1px solid var(--tomato);
    background-color: #FFEEEE;
}

.donate-section input[type='number'] {
    display: block;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 20px;
    color: #B3B3B3;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    border: none;
    border-bottom: 1px solid #DADADA;
}

.donate-plan-container {
    margin: 130px auto;
    width: 80%;

}

.donate-plan-header {
    width: 69%;
    margin: 0 auto;
}


.donate-plan-container h2,
.donate-plan-header p {
    text-align: center;
}

.donate-plans {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.donate-item {
    border-radius: 5px;
    padding: 30px;
}

.donate-item h3 {
    margin-top: 31px;
    margin-bottom: 16px;
    font-size: 24px;
    color: #121212;
}

.donate-item p {
    color: #707070;
}

.donate-item:first-child {
    background-color: rgba(79, 157, 166, 0.1);
}

.donate-item:nth-child(2) {
    background: rgba(255, 89, 89, 0.1);
}

.donate-item:nth-child(3) {
    background: #FFF4D6;
}

.donate-item h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.donate-item p,
.live-left p,
.update p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070
}

.live-donation-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 83px;
    margin-bottom: 130px;
}

.live-left {
    width: 50%;
}

.live-right {
    width: 40%;
}

.live-right img {
    width: 100%;
}

/*====================
    Update Section 
 =====================*/
.update {
    padding-top: 0px;
    text-align: center;
}

/*==========================
     Subscribe Section 
 ============================*/
.subscribe {
    width: 50%;
    padding: 76px 160px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: center;
    background: #FFF4D6;
}

.subscribe input {
    width: 60%;
    background-color: #D9D9D9;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.subscribe button {
    padding: 14px 42px;
    background-color: var(--tomato);
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
}

/*======================
     Footer style
 ======================== */
footer {

    margin-top: 130px;
    background: #0B0D17;
    text-align: center;
    padding: 43px 0;
}

footer h2 {
    font-family: 'Lobster', cursive;
    color: var(--tomato);
    margin-bottom: 24px;
    font-size: 36px;
}

footer p {
    color: white;
}

/*======================
    Responsive Design 
 =======================*/
@media only screen and (max-width: 786px) {
    .banner {
        background-position: -400px 0px;
    }

    .banner-info {
        width: 90%;
        padding-top: 30px;

    }

    .banner-title {
        font-size: 35px;
        line-height: 59px;
        margin-bottom: 20px;
    }

    .donate-amount-container {
        grid-template-columns: 1fr;
    }

    .donate-plans {
        flex-direction: column;
    }

    .donate-plan-container {
        margin: 70px auto;
    }

    .donate-plan-header {
        width: 100%;
    }

    .donate-section {
        width: 85%;
    }

    .donate-section {
        padding-top: 70px;
    }

    .donate-section input[type='number'] {
        width: 70%;
    }

    .live-donation-container {
        flex-direction: column;
    }

    .live-left {
        width: 100%;
    }

    .live-right {
        width: 100%;
        text-align: center;
    }

    .live-donation-container {
        margin-bottom: 70px;
    }

    .update {
        margin-top: 70px;
        width: 90%;
    }

    .subscribe {
        width: 80%;
        padding: 50px 0px;
        flex-direction: column;
    }

    .subscribe input {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        border-radius: 5px;
    }

    .subscribe button {
        margin: 0 auto;
        width: 82%;
        margin-top: 20px;
        border-radius: 5px;
    }
}